# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
*.env
.env*

# Node
node_modules/
dist/
build/
*.log

# SQLite
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
